<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courier Business automation</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/QUICKLINK.png">
    <link rel="stylesheet" href="../static/css_files/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../static/javascript_files/script.js" defer></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
          width: 50%;
          height: 80vh;
          margin: auto;
        }
        </style>
</head>
<body data-spy="scroll" data-offset="80">

    <div class="root">
        <nav class="navbar">
            <img class="img-logo" src="../static/assets/QUICKLINK_copy.png" alt="Logo"/>
            <div class="nav-buttons">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/tracking">Track Order</a></li>
                  </ul>
            </div>
            <div>
                <a href="/login" class="btn-login" id="loginBtn"  alt="login-button">Login</a>
            </div>
        </nav>
        <div class="main-container">
            <div class="main-title-container">
                <h1 class="main-title"><b>Your Trusted Partner for Streamlined Courier Delivery</b></h1>
                <h2 class="main-subtitle">Swift, Secure, and Seamless Courier Delivery Solutions Tailored for Your Convenience.</h2>
            </div>
        </div>
    </div>

    <div id="services" class="service-class">
      <div class="section-container">
          <h1 class="h2-class"><b>Discover Our Range of Convenient Services!</b></h1>
      </div>
      <div class="image-row">
          <img src="../static/assets/Home Delivery.png" alt="Home Delivery">
          <img src="../static/assets/PICK-HOME.png" alt="Pick Home">
          <img src="../static/assets/Track_Order.png" alt="Track Order">
      </div>
    </div>
  


    <div id="about" >
        <div class="div-container" id="about-class">
            <div>
                <h1>ABOUT US:</h1>
                <h2>Welcome to Quicklink Logistics - Where Speed Meets Reliability!</h2>
                <p>At Quicklink Logistics, we redefine the standards of courier services, offering you more than just deliveries; 
                we deliver peace of mind, efficiency, and trust. With a relentless commitment to excellence,
                we seamlessly connect businesses and individuals, bridging distances and exceeding expectations.  </p>
                <P>our team is dedicated to providing you with the highest level of service possible. Whether it's
                 transporting your products, coordinating logistical operations in a complex environment.
                Transporting your products or packages from point A to B, we are committed to making every delivery as smooth as silk.
                 time sensitive or standard delivery, we offer flexible solutions that meet your needs. Contact us today,
                transporting your products or packages in record time, we are here to help.</P> 
            </div>
            <div>
                <img  class="pic-contact-sec" src="../static/assets/handover.jpg" alt="Handover Image"/>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Your Courier Business. All rights reserved.</p>
        <p>Designed by <a href="#">arshdeep</a></p>
    </footer>

    
</body>
</html>